.coinTable {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
  height: 50px;
  background-color: #1313dd;
  align-items: center;
  padding-right: 5px;
  font-weight: bold;
  border-bottom: 1px solid white;
  color: white;
  text-decoration: none;
}

.coinTable:hover {
  background-color: #601cb4;
  cursor: pointer;
}

.coinName {
  margin-left: 7px;
}

.coinHeader p {
  font-size: 23px;
  padding: 5px 5px;
}

.coinTableCoins {
  display: flex;
  align-items: center;
}

.coinTableCoins img {
  width: 35px;
  height: 35px;
}

.green {
  color: rgb(4, 255, 4);
}

.red {
  color: red;
}

@media screen and (max-width: 800px) {
  .coinMarket {
    display: none;
  }

  .coinTable {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr;
  }
}
