.coinTable {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
  height: 50px;
  background-color: #1313dd;
  align-items: center;
  padding-right: 5px;
  font-weight: bold;
}

.coinName {
  margin-left: 7px;
}

.coinHeader p {
  font-size: 23px;
  padding: 5px 5px;
}
